

.text-end{
    text-align: center;
    justify-content: center;
    align-items: center
}

.btn{
    text-align: center;
    justify-content: center;
    align-items: center
}

.btn-info{
    text-align: center;
    justify-content: center;
    align-items: center
}
